[general]
node_name=node3
user_agent=SensorListener

[openweather]
apikey=xxx
cities={"3103402": "Bielsko-Biała"}
enabled=0
freq=30m

[aes]
staticiv=abcdef2345678901
ivkey=2345678901abcdef
datakey=0123456789abcdef
passphrase=mypassphrase

[gios]
station_id=xxx
enabled=0
freq=30m

[nodeone]
enabled=1

[openaq]
city=
location=
enabled=0
freq=30m

[printer3d]
enabled=1

[grpc]
enabled=0
address=0.0.0.0:8765
max_workers=5
queue_size=30

[socketserver]
enabled=1
address=0.0.0.0:8764
connections=5
queue_size=30

[hd44780]
enabled=0
