[general]
node_name=node3

[openweather]
enabled=1
worker_freq=1m
worker=node_listener.worker.openweather_worker.OpenweatherWorker
worker_parameters=[{
     "cities": {"3103402": "Bielsko-Biała"},
     "apikey": "xxx",
     "user_agent": "SensorListener"
    }]
worker_name=openweather

[aes]
staticiv=abcdef2345678901
ivkey=2345678901abcdef
datakey=0123456789abcdef
passphrase=mypassphrase

[gios]
worker_freq=3m
worker=node_listener.worker.gios_worker.GiosWorker
worker_parameters=[{
     "station_id": 789,
     "user_agent": "SensorListener"
    }]
worker_name=gios
enabled=1

[nodeone]
enabled=1
handler=node_listener.handler.node_one_handler.NodeOneHandler
handler_parameters=
handler_name=NodeOne

[openaq]
worker_freq=5m
worker=node_listener.worker.openaq_worker.OpenaqWorker
worker_parameters=[{
     "city": "Bielsko-Biała",
     "location": "",
     "user_agent": "SensorListener"
    }]
worker_name=openaq
enabled=1

[ender5pro]
enabled=1
worker=node_listener.worker.octoprint_worker.OctoprintWorker
worker_parameters=[{
    "debug_name": "W_E5P",
    "node_name": "ender5pro",
    "key": "aaa",
    "url": "http://192.168.1.199:5001/api"
    }]
worker_name=ender5pro
worker_freq=3s
handler=node_listener.handler.octoprint_handler.OctoprintHandler
handler_parameters=[{
    "debug_name": "H_E5P",
    "node_name": "ender5pro",
    "key": "aaa",
    "url": "http://192.168.1.199:5001/api"
    }]
handler_name=ender5pro

[ender5plus]
enabled=1
worker=node_listener.worker.klipper_worker.KlipperWorker
worker_parameters=[{
    "debug_name": "W_E5+",
    "node_name": "ender5plus",
    "url": "http://192.168.1.198"
    }]
worker_name=ender5plus
worker_freq=3s
handler=node_listener.handler.klipper_handler.KlipperHandler
handler_parameters=[{
    "debug_name": "H_E5+",
    "node_name": "ender5plus",
     "url": "http://192.168.1.198"
    }]
handler_name=ender5plus

[socketserver]
enabled=1
address=0.0.0.0:8764
connections=5
queue_size=30

[hd44780]
enabled=0

[pcmonitoring]
enabled=1
handler=node_listener.handler.pc_monitoring_handler.PCMonitoringHandler
handler_parameters=
handler_name=PCMonitoring
