services:
  app:
    build:
      args:
        - PUID=${PUID}
        - GUID=${GUID}
      context: .
      dockerfile: .docker/app/Dockerfile
    network_mode: host
    restart: unless-stopped
    volumes:
      - ./log/cronlog:/cronlog
      - ./log/supervisord:/supervisordlog
    dns:
      - ${DNS_SERVER}

  bot:
    restart: unless-stopped
    build:
      args:
        - PUID=${PUID}
        - GUID=${GUID}
      context: .
      dockerfile: .docker/bot/Dockerfile
    ports:
      - "${WEBHOOK_PORT}:5000"
    environment:
      - OLLAMA_HOST=${OLLAMA_HOST}

  valkey:
    restart: unless-stopped
    image: valkey/valkey:latest
    ports:
      - "${VALKEY_PORT}:6379"

  mcp_server:
    restart: unless-stopped
    build:
      args:
        - PUID=${PUID}
        - GUID=${GUID}
      context: .
      dockerfile: .docker/mcp/Dockerfile
    ports:
      - "${MCP_SERVER_PORT}:5000"
