services:
  app:
    build:
      args:
        - PUID=${PUID}
        - GUID=${GUID}
      context: .
      dockerfile: .docker/app/Dockerfile
    network_mode: host
    restart: unless-stopped
#    volumes:
#      - ./:/app
    dns:
      - ${DNS_SERVER}

  bot:
    build:
      args:
        - PUID=${PUID}
        - GUID=${GUID}
      context: .
      dockerfile: .docker/bot/Dockerfile
    ports:
      - "${WEBHOOK_PORT}:5000"

  valkey:
    restart: unless-stopped
    image: valkey/valkey:latest
    ports:
      - "${VALKEY_PORT}:6379"
