[Unit]
Description=SensorListener
After=multi-user.target

[Service]
User=pi
Type=idle
ExecStart=/home/pi/workspace/sensor_listener/venv/bin/python3 /home/pi/workspace/sensor_listener/server.py
WorkingDirectory=/home/pi/workspace/sensor_listener


[Install]
WantedBy=multi-user.target

